@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-display text-5xl font-bold;
}
h2 {
  @apply font-display text-4xl font-semibold;
}
h3 {
  @apply font-display text-3xl font-semibold;
}
h4 {
  @apply font-display text-2xl;
}

h1.ce-header {
  @apply font-display text-3xl font-bold;
}
h2.ce-header {
  @apply font-display text-2xl font-semibold;
}
h3.ce-header {
  @apply font-display text-xl font-semibold;
}
h4.ce-header {
  @apply font-display text-lg font-semibold;
}
h5.ce-header {
  @apply font-display text-base font-semibold;
}
h6.ce-header {
  @apply font-display text-base font-semibold;
}

@font-face {
  font-family: "Bungee";
  src: url("/fonts/bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BungeeShade";
  src: url("/fonts/bungee-shade/BungeeShade-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neutral Face";
  src: url("/fonts/neutral-face/NeutralFace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neutral Face";
  src: url("/fonts/neutral-face/NeutralFaceBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
  font-display: block;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

.flash {
  animation: flash 0.5s ease-in-out infinite alternate;
}

#flash {
  animation: flash 0.5s ease-in-out infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes beak {
  from {
    transform: translate(00px, 0);
  }
  to {
    opacity: translate(00px, 0);
  }
}

#rotUser:hover {
  animation: rotUser 2s ease-in-out infinite alternate;
}
@keyframes rotUser {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */ /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

body {
  overflow: hidden;
  width: 100%;
  background-color: #27272a;
  height: 100vh;
  /*#18181b;*/
}
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.burns {
  overflow: hidden;
  display: inline-block;
}

.burns img {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.burns img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cursor: poPoppins;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.span-1 {
  --index: 0;
}
.span-2 {
  --index: 1;
}
.span-3 {
  --index: 2;
}

.stacks-3 {
  --stacks: 3;
  --time: 340ms;
}

.stacks-3-2 {
  --stacks: 3;
  --time: 240ms;
}

.stacks-3-3 {
  --stacks: 3;
  --time: 140ms;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack var(--time) cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 60ms),
    glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}
